.text {
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border:  1px solid lightgray;
    padding-left: 20px;
    justify-content: space-between;
    margin-bottom: 3%;
    background: rgba(0, 0, 0, 0.651);
    height: max-content;
    text-align: center;
}